@font-face {
    font-family: Amatic;
    src: url("../assets/font/Amatic_SC/AmaticSC-Bold.ttf");
   }

body {
    background: url("../assets/pictures/img/gilles-lambert-249996.jpg") no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    height: 100vh;
}

.caption {
    font-family: "Amatic", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: block;
    margin: auto;
}